.Home {
  background-image: url("https://dizme.vercel.app/img/slider/2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 110px;
  padding: 230px 180px;
}

.myself {
  display: flex;
  gap: 200px;
  padding: 40px 28px;
}

.myself img {
  width: 350px;
}

.myself img:hover{
  border-radius: 50%;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 0 15px #fff, 0 0 60px #fff;
}

.self-info{
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.self-info p:nth-child(1) {
  font-size: 20px;
  color: red;
}

.self-info h2 {
  margin-top: 4px;
  font-size: 45px;
  font-family: serif;
}

.self-info p {
  color: rgb(181, 102, 255);
  margin-top: 4px;
  font-size: 28px;
}

.self-info p span {
  font-size: 18px;
  width: 470px;
  display: block;
  color: white;
  margin-top: 4px;
}

.social-links {
  display: flex;
  margin-top: 15px;
  gap: 25px;
}

.social-links button {
  background: rgb(201, 34, 28);
  width: 150px;
  padding: 16px 24px;
  font-weight: 600;
  font-size: 17px;
  border-radius: 50px;
}

.social-links button:hover {
  background: transparent;
  border: 2px solid rgb(201, 34, 28);
}

.social-links ul {
  display: flex;
  gap: 16px;
  font-size: 22px;
  margin-top: 24px;
}

.social-links ul li:hover{
    color: rgb(86, 153, 197);
}

/* Media Queries */

@media (max-width: 1280px) {
  .Home {
    padding: 180px 120px;
    height: 95vh;
    margin-bottom: 100px;
  }

  .myself {
    gap: 150px;
    padding: 50px 60px;
  }

  .myself img {
    width: 280px;
    height: 280px;
  }

  .self-info p:nth-child(1) {
    font-size: 17px;
  }

  .self-info h2 {
    font-size: 40px;
  }

  .self-info p {
    font-size: 25px;
  }

  .self-info p span {
    font-size: 16px;
    width: 85%;
  }

  .social-links {
    margin-top: 10px;
    gap: 20px;
  }

  .social-links button {
    width: 130px;
    padding: 14px 20px;
    font-size: 16px;
  }

  .social-links ul {
    gap: 12px;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .Home {
    padding: 150px 100px;
    height: 90vh;
    margin-bottom: 90px;
  }

  .myself {
    gap: 90px;
    padding: 70px 30px;
  }

  .myself img {
    width: 250px;
    height: 250px;
  }

  .self-info p:nth-child(1) {
    font-size: 15px;
  }

  .self-info h2 {
    font-size: 37px;
  }

  .self-info p {
    font-size: 22px;
  }

  .self-info p span {
    font-size: 14px;
    width: 90%;
  }

  .social-links {
    margin-top: 13px;
    gap: 17px;
  }

  .social-links button {
    width: 110px;
    padding: 12px 17px;
    font-size: 14px;
  }

  .social-links ul {
    gap: 10px;
    font-size: 17px;
    margin-top: 22px;
  }
}


@media (max-width: 800px) {
  .Home {
    padding: 130px 70px;
    height: 95vh;
  }

  .myself {
    align-items: center; 
    flex-direction: column;
    gap: 70px;
    padding: 20px 60px;
  }

  .myself img {
    width: 230px;
    height: 230px;
  }
  
.self-info{
    align-items: center;
    text-align: center;
    margin-top: -40px;
  }

  .self-info p:nth-child(1) {
    font-size: 19px;
  }

  .self-info h2 {
    font-size: 35px;
  }

  .self-info p {
    font-size: 20px;
  }

  .self-info p span {
    font-size: 14px;
    width: 90%;
  }

  .social-links{
    margin-top: 12px;
    gap: 20px;
  }

  .social-links button {
    width: 120px;
    padding: 13px 0px;
    font-size: 15px;
  }

  .social-links ul {
    gap: 12px;
    font-size: 19px; 
    margin-top: 19px;
  }
}

@media (max-width: 500px) {
  .Home {
    padding: 140px 70px;
    height: 90vh;
}

.myself{
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
    margin: 0;
}

  .myself img{
    width: 180px;
    height: 180px;
}

.self-info{
    align-items: center;
    text-align: center;
    margin-top: -65px;
  }

  .self-info p:nth-child(1) {
    font-size: 17px;
  }

  .self-info h2 {
    font-size: 38px;
    /* width: 200px; */
  }

  .self-info p {
    font-size: 20px;
  }

  .self-info p span {
    font-size: 14px;
    width: 100%;
    line-height: 25px;

  }

  .social-links{
    margin-top: 12px;
    gap: 20px;
  }

  .social-links button {
    width: 120px;
    padding: 13px 0px;
    font-size: 15px;
  }

  .social-links ul {
    gap: 12px;
    font-size: 19px; 
    margin-top: 19px;
  }
}